name: Sync V2

on:
  schedule:
    - cron: '0 16 * * *'  # 中国时间 00:00
    - cron: '0 22 * * *'  # 中国时间 06:00
    - cron: '0 4  * * *'  # 中国时间 12:00
    - cron: '0 10 * * *'  # 中国时间 18:00
  workflow_dispatch:

jobs:
  sync-v2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests pyyaml ipaddress

      - name: Step 1 - Merge proxies to v2.txt
        run: python py/step1_merge_proxies.py

      - name: Step 2 - Merge proxies to v2.txt
        run: python py/step2_test_v2_nodes.py
        
      - name: Commit changes
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "github-actions@github.com"

          # 检查是否有变更
          if ! git diff --quiet; then
            git add v2.txt
            git commit -m "Update v2.txt"
            git push
          else
            echo "No changes to commit or push."
          fi
